{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>NEWS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
  <header>
        <div class="nav-left">
              <h1><a href="{% url 'home' %}">World news</a></h1>
        </div>
        <p class="post">
          <a href="{% url 'login' %}" style="text-decoration: none">Sign in</a> |
          <a href="{% url 'signup' %}" style="text-decoration: none">Sign up</a>
        </p>
  </header>
<!--  {% if user.is_authenticated %}-->
<!--     <p>Welcome, {{ user.username }}!</p>-->
<!--     <p><a href="{% url 'logout' %}">Exit</a></p>-->
<!--  {% else %}-->
<!--  <p class="post">-->
<!--      <a href="{% url 'login' %}" style="text-decoration: none">Sign in</a> |-->
<!--      <a href="{% url 'signup' %}" style="text-decoration: none">Sign up</a>-->
<!--  </p>-->
<!--  {% endif %}-->
  <div>
    {% block content %}
    {% endblock content %}
  </div>
  <br>
  <footer>
      <a href="{% url 'post_new'%}" style="text-decoration: none">Write new post</a>
  </footer>
</body>
</html>